@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    /* font-family: 'JetBrains Mono', monospace; */
    font-family: 'Poppins', sans-serif;
  }
}

@layer components {}

@layer utilities {
  .-shadow {
    box-shadow: 0 -1px 3px 0 rgb(0 0 0 / 0.1), 0 -1px 2px -1px rgb(0 0 0 / 0.1);
  }

  .animate-rotate {
    animation: rotate 1s linear infinite;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.scrollbar-hidden {
  scrollbar-width: none;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
